$primary-color: #3498db;
$white-color: #fff;
$black-color: #000;
$title-color: #222222;
$text-color: #848484;
$border-color: #e3e3e3;
$border-color-secondary: #c2c2c2;
$bg-color: #e7e7e7;
$btn-bg-color: #0d74b9;
$bg-socials: #d4d4d4;
