@import "_variables";

* {
	box-sizing: border-box;
}

.default-section {
	position: relative;
	padding: 60px 0;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 15px;
}